<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
	<title>My site</title>
</head>
<body>
	<div class="obj h">
		<header>
			<h1 class="titleText">
				My site on Django <a href="http://127.0.0.1:8000" class="link">home</a><a href="http://127.0.0.1:8000/post_list/" class="link">blog</a><a href="http://127.0.0.1:8000/admin/" class="link">admin</a>
			</h1>
		</header>
		<div class="line"></div>
		<section>
			<h2 class="hello">
				Приветствую
			</h2>
				<p class="txt">
					Это мой первый сайт сделаный на отличном фреймворке<br> для python - на Django.
					Пока-что здесь присутствует только одно<br> WEB-приложение - блог, но скоро будут и другие. 
				</p>
		</section>
	</div>
</body>
</html>
