<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
	<title>My blog</title>
</head>
<body>
	<div class="obj">
		<header>
			<h1 class="titleText">
				My blog on Django <a href="http://127.0.0.1:8000" class="link">home</a><a href="http://127.0.0.1:8000/post_list/" class="link">blog</a><a href="http://127.0.0.1:8000/admin/" class="link">admin</a>
			</h1>
		</header>
		<div class="line"></div>
			{% for post in posts %}
			    <div class="post">
			        <h3 class="postTitle">{{ post.title }}</h2>
			        <p class="postText">{{ post.text|linebreaksbr }}</p>
			        <p class="postDate">опубликовано: {{ post.published_date }}</p>
			    </div>
			    <div class="minLine"></div>
			{% endfor %}
		</section>
		</div>
</body>
</html>











